<script>
    document.write('<a href="' + document.referrer + '">Go Back</a>');
</script>
{{#each events as |event|}}

<div class="cards">
  
  <h2>
  {{name}}
  </h2>
  <p class="title">Event Description:</p>
  <p class="modeldata">- {{description}}</p>
  <p class="title">When?:</p>
  <p class="modeldata">- {{formatted_date date}}</p>
  <p class="title">What Time?:</p>
  <p class="modeldata">- {{ formatted_time time}}</p>
  <p class="title">Where?:</p>
  <p class="modeldata">- {{location}}</p>
  <p>Organized by {{user.name}}</p>
  
  </p>
  <p>
   <a href="/api/events/attend/{{id}}"></a> <button class="btn btn-primary">Attend this Event!</button> 
  </p>
</div>
{{/each}}