

<div class="cards">
  <h2>
  <a href="./api/event/{{event.id}}">{{event.name}}</a>
  </h2>
  <p>{{event.description}}</p>
  <p>{{date}}test</p>
  <p>{{time}}</p>
   <p>{{location}}test</p>

  
  </p>
  <p>
    <button class="btn btn-primary">Attend this Event!</button>
  </p>
</div>
