<header> Current Events in Your Area!</header>
{{#each events as |event|}}

<div class="cards">
  
  <h2>
  {{name}}
  </h2>
  <p>{{description}}</p>
  <p>{{formatted_date date}}</p>
  <p>{{ formatted_time time}}</p>
   <p>{{location}}</p>
<p>Organized by {{user.name}}</p>
  
  </p>
  <p>
   <a href="/api/events/attend/{{id}}"></a> <button class="btn btn-primary">Attend this Event!</button> 
  </p>
</div>
{{/each}}