<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Share your Event!</h3>
{{!-- 
await fetch("/api/users", {
      method: "POST",
      body: JSON.stringify({ name, email, password }),
      headers: { "Content-Type": "application/json" },
    });
 --}}
    <form class="form new-event-form" action="/api/users">
      <div class="form-group">
        <label for="event-name">Event Name?</label>
        <input
          class="form-input"
          type="text"
          id="event-name"
          name="event-name"
        />
      </div>
      <div class="form-group">
        <label for="event-description">Whats Happening?</label>
        <input
          class="form-input"
          type="string"
          id="event-description"
          name="event-description"
        />
      </div>
      <div class="form-group">
        <label for="event-date">When?</label>
        <input
          class="form-input"
          id="event-date"
          name="event-date"
        ></input>
      </div>
      <div class="form-group">
        <label for="event-time">What time?</label>
        <input
          class="form-input"
          type="string"
          id="event-time"
          name="event-time"
        />
      </div>
      <div class="form-group">
        <label for="event-location">Where?</label>
        <input
          class="form-input"
          type="string"
          id="event-location"
          name="event-location"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if events.length}}
    <div class="col-md-6 event-list">
      <h3>Events I'm Attending:</h3>

      {{#each events as |event|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/api/event/delete/{{id}}">{{id}} - {{name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger"
              data-id="{{id}}"
            >DELETE</button>  
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

{{!-- ! Using external JS files like this, loses access to server state like session data --}}
<script src="/js/profile.js"></script>